@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e9e9e9;
    font-family: 'Fredoka', 'Segoe UI', sans-serif;
}

form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Botoes{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_padrao{
    padding: 1vw 2.5vw;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    font-family: sans-serif;
    color: #ffffff;
    font-family: 'Fredoka', 'Segoe UI', sans-serif;
}

#env{
    background-color: #7AC785;
}

.Sudoku{
    display: flex;
    justify-content: center;
    width: 58vw;
    margin-top: 0.3rem;
}

.Quad{
    width: 18vw;
    margin-left: 0.38rem;
    margin-right: 0.38rem;
}

.Linha{
    width: 18vw;
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
}

.Linha input{
    width: 5vw;
    height: 8vh;
    padding: 0.2rem;
    font-size: 60px;
    text-align: center;
    border-radius: 0.2rem;
    border: none;
    font-family: 'Fredoka', 'Segoe UI', sans-serif;
    color: #4b6ea4;
    caret-color: transparent;
}
.Linha input:focus {
    outline: 1px solid #4b6ea4;
    border-color: #4b6ea4;
}


.Barra{
    background-color: #aaa;
    border-radius: 5rem;
    width: 100%;
    height: 1.8vh;
    margin-top: 0.6rem;
}

.BarraVertical{
    background-color: #aaa;
    width: 8vw;
    border-radius: 5rem;
}




/* @media query{
    *{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e2e2e2;
}

.Sudoku{
    background-color: yellow;
    width: 93vw;
    height: 180vh;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 10rem;
}
.Quad{
    background-color: red;
    width: 31vw;
}

.Coluna{
    background-color: aqua;
    width: 31vw;
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
}

.Coluna input{
    width: 9vw;
    height: 12vh;
    padding: 0.1rem;
    font-size: 70px;
    text-align: center;
}

.Barra{
    background-color: gray;
    width: 31vw;
    height: 2vh;
    margin-top: 0.6rem;
}
} */