<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projeto Sudoku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Github: joao-lucas04 | João Lucas dos Anjos Pinto">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
    <div class="Quad">
        <div>
            <input type="text" name="l1c1" id="11">
            <input type="text" name="l1c1" id="12">
            <input type="text" name="l1c1" id="13">
        </div>
 
        <div class="Quad">
            <input type="text" name="l1c1" id="11">
            <input type="text" name="l1c1" id="12">
            <input type="text" name="l1c1" id="13">
        </div>
    </div>
    
</body>
</html>